main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh */
}

a {
    margin-bottom: 5rem
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}